<nav id="nav1">
    <ng-container *ngIf="!nombreUsuarioRegistrado; else usuarioRegistradoTemplate">
      <!-- Mostrar cuando no hay usuario registrado (formulario de inicio de sesión) -->
      <input type="text" placeholder="Username" class="nav-input" [(ngModel)]="username">
      <input type="password" placeholder="Password" class="nav-input" [(ngModel)]="password">
      <button class="nav-button" (click)="login()">Log in</button>
      <a routerLink="/registro-usuario" class="nav-link">Sign up</a>
    </ng-container>
  
    <ng-template #usuarioRegistradoTemplate>
      <!-- Mostrar cuando hay un usuario registrado -->
      <button class="nav-button" (click)="logout()">Log out</button>
      <a routerLink="/mis-recetas" class="nav-link">My recipes</a>
      <span>{{ nombreUsuarioRegistrado }}</span>
    </ng-template>
  </nav>