<main>
    <div *ngIf="UsuarioRegistrado">
      <h2> Registration successful! Now you can log in.</h2>
    </div>

    <div class="error-mensaje">
    <div *ngIf="usuarioExistente" class="error-name">
      <i class="fas fa-exclamation-triangle"></i> Username already in use.
    </div>
    <div *ngIf="emailExistente" class="error-email">
      <i class="fas fa-exclamation-triangle"></i> A user with this email address already exists.
    </div>
    </div>
 
<form novalidate [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
  
    <label for="nombre">Username:</label>
    <input type="text" id="nombre" formControlName="name">
  
    <label for="contraseña">Password:</label>
    <input type="password" id="contraseña" formControlName="password">
  
    <button type="submit" [disabled]="registroForm.invalid">Sign up</button>
  </form>
</main>