
header{
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: wheat;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0%;
    padding-left: 2em;
    padding-right: 2em;

}
.logo{
    display: flex;
    align-items: center;
}
.ico-logo{
    width: 50px;
    height: 50px;
    margin-right: 1.2em;
}

a{
    text-decoration: none;
    color: black;
}

#datos {
    background-color: wheat;
    color: rgb(131, 52, 52);
    height: 24em;
    margin-top: 4em;
}
footer {
    color: rgb(131, 52, 52);
    
    display: flex;
    justify-content: center;

}
footer p{
    font-size: 0.8em;
background-color: rgb(194, 145, 86);
}




@media (max-width: 900px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
@media (max-width: 440px){
    nav{
        display: flex;
        flex-direction: column;
    }
}
