.recipe-photo {
    height: 600px;
    width: 50%;
    object-fit: cover;
    border-radius: 30px;
    float: right;
  }
.recipe-container {
  margin: 3em;
  
}
.imagenyboton {
  position: relative;
  
}
.save-button {
  position: absolute;
  top: 10px; /* Ajusta la posición vertical según sea necesario */
  right: 10px; /* Ajusta la posición horizontal según sea necesario */
  padding: 8px 12px;
  background-color: #b47a0d; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: solid 1px rgb(209, 149, 100);
  border-radius: 30px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #daa24f; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}


#title{
  font-size: 3em;
  color: rgb(105, 60, 5);
}

.recipe-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipe-origin,
.recipe-category {
  font-size: 16px;
  margin-bottom: 5px;
}

.recipe-instructions {
  text-align: left;
  max-width: 600px;
}

.recipe-instructions h2,
.recipe-instructions h3 {
  margin-bottom: 10px;
}

.recipe-instructions-text {
  font-size: 16px;
}

.recipe-instructions ul {
  list-style-type: none;
  padding: 0;
}

.recipe-instructions li {
  margin-bottom: 5px;
}

.video-link {
  margin-top: 20px;
  font-style: italic;
  color: #007bff;
}

.video-link a {
  text-decoration: none;
  color: #007bff;
}

/* Media queries para ajustar el diseño en pantallas más pequeñas */
@media only screen and (max-width: 1000px) {
  .recipe-title {
    font-size: 20px;
  }

  .recipe-origin,
  .recipe-category {
    font-size: 14px;
  }

  .recipe-instructions-text {
    font-size: 14px;
  }
  .recipe-photo {
    height: 40%;
    width: 90%;
    object-fit: cover;
    border-radius: 30px;
    float: right;
  }
}
