<article class="recipe-container">
  <div class="imagenyboton">
    <img
      class="recipe-photo"
      [src]="recetas?.strMealThumb"
      alt="Exterior photo of {{ recetas?.strMeal }}"
      crossorigin
      
    />
    <button class="save-button" (click)="recetas && guardarReceta(recetas.idMeal)"> 
      {{ isRecetaEnLista ? 'Remove' : 'Save' }}
    </button>
    
    </div>
    <section class="recipe-details">
      <h1 class="recipe-title" id="title">{{ recetas?.strMeal }}</h1>
      <p class="recipe-origin">Origin: {{ recetas?.strArea}}</p>
      <p class="recipe-category">Category: {{ recetas?.strCategory }}</p>
    </section>
  
    <section class="recipe-instructions">
  
      <h2>Ingredients list</h2>
      <ul>
        <li *ngFor="let ingredient of getIngredientsList(recetas)">
          {{ ingredient }}
        </li>
      </ul>
      <h3 class="video-link"><a href="{{ recetas?.strYoutube }}" target="_blank">Click here for a Youtube video tutorial!</a></h3>
      <h2>Instructions</h2>
      <p class="recipe-instructions-text" [innerHTML]="sanitizeInstructions(recetas?.strInstructions)"></p>
  
    </section>
  </article>

<!-- Agrega una clase al contenedor de comentarios -->
<div class="comentarios-container">
  <h3>Comments</h3>
  <textarea [(ngModel)]="nuevoComentario" placeholder="Write your comment" class="comentario-input"></textarea>
  <button (click)="agregarComentario()" class="comentario-button">Add Comment</button>
  
  <ul class="comentarios-list">
    <li *ngFor="let comentario of comentarios" class="comentario-item">
      <strong>{{ comentario.username }}</strong>: {{ comentario.comentario }}
      <span class="fecha">{{ comentario.fecha | date: 'medium' }}</span>
    </li>
  </ul>

</div>
