

<div>
<section id="espacio">      
    <div id="welcome">
      <h1>Welcome!</h1>
      <p>Learn the best recipes with us. </p>
    </div>
</section>


<div class="icono-titulo">
  <i class="fas fa-utensils fa-3x"></i>
  <!-- Utiliza el ícono de pala y tenedor para simbolizar comidas/recetas/cocinar -->
  <i class="fas fa-utensil-spoon fa-3x"></i>
  <h1 id="algunasRecetas">Some recipes!</h1>
</div>
  <section class="results">
    
    <app-recetas-random-home *ngFor="let comida of listaComidas" [comidas]="comida" >
    </app-recetas-random-home>

  </section>
<app-buscador></app-buscador>
</div>