#espacio{
    background-image: linear-gradient(100deg, #000000, #00000020),
                      url('../../assets/Imagenes/Fondo.jpg');
    height: 40em;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #welcome{
    padding-bottom: 15em;
  }
  
  .icono-titulo {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos hijos */
    background-color: #daa24f;
    justify-content: center;
    padding-top: 0.2em;
  }
  h1 {
    margin: 0;
    font-size: 3em;
    padding: 1em;

  }

  #espacio h1{
    text-align: center;
    font-size: 5em;
    color: rgb(236, 225, 210);
    margin-bottom: 0.4em;
  }
  
  #espacio p{ 
    text-align: center;
    font-size: 1em;
    color: rgb(236, 225, 210);
  }
  
  .results {
      display: grid;
      column-gap: 14px;
      row-gap: 14px;
      grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
      margin: 2em;
      margin-top: 50px;
      justify-content: space-around;
    }

    @media (min-width: 500px) and (max-width: 768px) {
      .results {
          grid-template-columns: repeat(2, 1fr);
      }  
    }
    @media (max-width: 499px) {
      .results {
          grid-template-columns: 1fr;
      }    
    }
    @media (max-width: 900px){
      input[type="text"] {
          width: 15rem;
        }
  }
  @media (max-width: 387px){
      input[type="text"] {
  
          width: 8rem;
        }
  }
  
    