<article class="recipe-container">
  <img
    class="recipe-photo"
    [src]="recetas?.strMealThumb"
    alt="Exterior photo of {{ recetas?.strMeal }}"
    crossorigin
  />
  
  <section class="recipe-details">
    <h1 class="recipe-title" id="title">{{ recetas?.strMeal }}</h1>
    <p class="recipe-origin">Origin: {{ recetas?.strArea}}</p>
    <p class="recipe-category">Category: {{ recetas?.strCategory }}</p>
  </section>

  <section class="recipe-instructions">

    <h2>Ingredients list</h2>
    <ul>
      <li *ngFor="let ingredient of getIngredientsList(recetas)">
        {{ ingredient }}
      </li>
    </ul>
    <h3 class="video-link"><a href="{{ recetas?.strYoutube }}" target="_blank">Click here for a Youtube video tutorial!</a></h3>
    <h2>Instructions</h2>
    <p class="recipe-instructions-text">{{ recetas?.strInstructions }}</p>

  </section>
</article>
